Source: vice
Section: otherosfs
Priority: optional
Maintainer: Dan Tootill <dan@unknown>
#Build-Depends: debhelper (>=9), autotools-dev, bison, flex, yasm, xa, libgtk2.0-dev, libgtkglext1-dev, libx264-dev, libmp3lame-dev, libasound2-dev, libxaw7-dev, libreadline-dev
Build-Depends: debhelper (>=9), autotools-dev, bison, flex, yasm, xa, libgtk-3-dev, libasound2-dev, libxaw7-dev, libreadline-dev
Standards-Version: 3.9.6
Homepage: http://vice-emu.sourceforge.net/
#Vcs-Git: git://anonscm.debian.org/collab-maint/vice.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/vice.git

Package: vice
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ffmpeg, gtk2-engines-pixbuf
Description: Versatile Commodore Emulator
 VICE emulates well the hardware of the Commodore Business Machines of
 the pre-Amiga era. Supported are the various Pets, the VIC-20, the
 Commodore 64, the Commodore 128, the CBM-II series, and the PLUS/4.
 .
 Some alternate keywords for the above: VIC20, C64, C=64, C64 DTV, C128,
 C=128, CBM-500, CBM-600, CBM-700, PLUS4.
