override_dh_auto_configure:
	./configure --prefix=/usr --enable-gnomeui --disable-ffmpeg --without-residfp

override_dh_auto_install:
	test -r ./mkinstalldirs || ln -s /usr/share/automake-1.15/mkinstalldirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/vice
	mv $(CURDIR)/debian/vice/usr/lib64 $(CURDIR)/debian/vice/usr/lib
