override_dh_auto_configure:
	./configure --prefix=/usr --enable-gnomeui --disable-ffmpeg --without-residfp

override_dh_auto_install:
	test -r ./mkinstalldirs || ln -s /usr/share/automake-1.15/mkinstalldirs
	sed -i '535d' data/fonts/Makefile
	$(MAKE) install DESTDIR=_BUILDROOT_/debian/vice
	mv _BUILDROOT_/debian/vice/usr/lib64 _BUILDROOT_/debian/vice/usr/lib
