override_dh_auto_clean:
	touch config.mk
	$(MAKE) clean

override_dh_auto_configure:
	./configure \
	--prefix=/usr \
	--disable-cg \
	--disable-jack \
	--disable-oss \
	--disable-pulse \
	--disable-qt \
	--disable-sdl \
	--disable-sdl2 \
	--disable-vg \
	--disable-wayland \
	--disable-x11 \
	--enable-dispmanx \
	--enable-opengles \
	--enable-floathard \
	--enable-videocore
