Source: capsimage
Section: development
Priority: optional
Maintainer: Dan Tootill <dantootill@nospam.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://www.softpres.org
#Vcs-Git: https://anonscm.debian.org/collab-maint/capsimage.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/capsimage.git

Package: capsimage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: capsimage library to access IPF and CTR files
