override_dh_auto_build:
	$(MAKE) -f LINUX/Makefile opencbm plugin

override_dh_auto_install:
	mkdir -p debian/opencbm/etc/udev/rules.d
	mkdir -p debian/opencbm/usr/include
	$(MAKE) -f LINUX/Makefile install install-plugin DESTDIR=CHANGEME/debian/opencbm
